body {
    margin: 0;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: start;
    flex-flow:  column;
}

.screenContainer { 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: black; 
}

.screenContainer .chairs {
    width: 100%;
    height: 50%;
}

.screen {
    margin-top: 30px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screenContainer .screen .cinemaEffect {
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

.filmsTendancesContainer {
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    background-color: blue;
}

.filmsTendances {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filmsTendances h1 {
    text-align: center;
}

.filmsTendances button {
    width: 200px;
}

.filmsTendancesList {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
}

.filmsTendancesList p {
    background-color: white;
    height: 100px;
    width: 200px;
}