@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  background-image: url("../assets/background-texture.webp");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
  height: 900px;
}

#back {
  position: absolute;
  top: 4vh;
  left: 2vw;
  width: 1.5vw;
  rotate: 180deg;
}

h1 {
  font-size: 8rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 16vh 0 0 0;
}

#search-bar {
  width: 30vw;
  display: flex;
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  padding-left: 15px;
}

#search-input {
  outline: none;
  border: none;
  flex: 1;
}

#search-button {
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#search-button img {
  height: 20px;
  width: auto;
}

#movieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 6vw;
  width: 90vw;
}

#error {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

.movieCard {
  display: flex;
  flex-direction: column-reverse;
  width: 26vw;
  height: fit-content;
  padding: 1.3rem;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 2rem;
  transition: all 0.5s;
}

.movieCard:hover,
.movieCard:focus {
  border: 1px solid #fff;
  transform: scale(1.025);
}

.movieCard:active {
  transform: scale(0.95) rotateZ(1deg);
}

.movieCard img {
  box-shadow: none;
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1.3;
}

.movieCard h3 {
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

#back  {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: white;
  margin: 20px;
  cursor: pointer;
  z-index: 1;
}