body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  position: relative;
  width: 300px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  position: absolute;
  bottom: 0;
  padding: 5px;
  color: white;
  width: 100%;
  backdrop-filter: blur(20px);
  z-index: 1;
}

h3,
p {
  margin: 0;
  padding: 0;
  color: black;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 4px;
  margin-top: 10px;
  cursor: pointer;
  width: 97%;
  border-radius: 20px ;
}

button:hover {
  background-color: #45a049;
}

.card-content p {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  overflow: hidden;
}