@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-image: url("../assets/homepage-bg.webp");
  background-size: cover; /* Y */
  width: 100vw;
  min-height: 100vh;
  padding: 4.4vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#container {
  width: 90vw;
  min-height: 80vh;
  padding: 3rem 4rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

#top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-left {
  display: flex;
  flex-direction: column;
}

#top-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#top-left > p,
#top-right:last-child > div > p {
  font-weight: 700;
  color: #fdedad;
}

#top-right:last-child > div > p::after {
  content: " / 10";
  font-weight: 500;
  color: white;
}

#main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vw;
}

#poster-container {
  position: relative;
  width: 30%;
}

#poster-container > img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1.3;
}

#movie-details {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

#plot {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

#cast {
  display: flex;
  gap: 8vw;
}

#actors,
#directors,
#writers {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

ul > li {
  display: flex;
  color: #fdedad;
}

button  {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5vw;
  background-color: transparent;
  border: none;
  margin-bottom: 50px;
  margin-right: 80px;
  cursor: pointer;
  z-index: 1;
  font-size: 30px;
}